$yamm-content-padding: 20px 30px !default;

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}

.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: $yamm-content-padding;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
//
